@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>En este programa se encuentra el registro de los clientes usando SQL SERVER </p>

    
</div>
